# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/
.venv_trt/
venv_trt/
env/
ENV/
.ENV/
.venv*/
*venv*/
pythonenv*/

# -------------------------
# Python cache / compiled
# -------------------------
__pycache__/
**/__pycache__/
tensort/__pycache__/
routes/__pycache__
*.py[cod]
*$py.class
*.pyo
*.pyd
.env
*.log